
<h1>Emprego Já</h1>
<h2><%= @job.title %></h2>
<hr>
<p>Empresa: <%= @job.company %></p>
<p>Localização: <%= @job.location %></p>
<p>Categoria: <%= @job.category %></p>
<p>Descrição Completa: <%= @job.description %></p>

<p><%= link_to "Voltar", root_path %></p>
